.nav-wrapper{

    background-color: #304945;

}

.logo {

    padding-bottom: 120px;
}

.tag {

    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 3.2vw;
    color: #304945;
}

.photobooth{

    /* background-color: #304945; */
    /* margin: 20px; */
    width: 450px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.card {
    margin: 50px;
    width: 250px;
    height: auto;
}

.card-action{
    color: #304945;
    text-align: center;
}